*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 20.8rem;
  height: 20.8rem;
  background-color: rgb(252, 202, 252);
  margin-top: 1.5rem;
  position: relative;
}

.container::before, 
.container::after {
  position: absolute;
  width: 19px;
  height: 19px;
  content: "";
}

.container::before {
  left: -9.3px;
  top: -9.1px;
  border-left: 9px solid rgb(226 226 226);
  border-top: 9px solid rgb(226 226 226);
}

.container::after {
  right: -9.3px;
  bottom: -9px;
  border-right: 9px solid rgb(226 226 226);
  border-bottom: 9px solid rgb(226 226 226);
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

button {
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  font-weight: 700;
  box-shadow: 3px 3px 0px 1px rgb(0 0 0);
}

#color-picker {
  height: 2.3rem;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  box-shadow: 3px 3px 0px 1px rgb(0 0 0);
}

.grid-slider-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

input[type="range"] {
  accent-color: #D3B7F9;
}

.grid-slider-para {
  text-align: center;
}

.active {
  background-color: white;
}

.active:hover {
  background-color: black;
}