*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 20.8rem;
  height: 20.8rem;
  outline: rgb(226 226 226) dashed 0.6rem;
  background-color: rgb(252, 202, 252);
  margin-top: 1.5rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

button {
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  font-weight: 700;
  box-shadow: 3px 3px 0px 1px rgb(0 0 0);
}

#color-picker {
  height: 2.3rem;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  box-shadow: 3px 3px 0px 1px rgb(0 0 0);
}

.grid-slider-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.grid-slider-para {
  text-align: center;

}

.active {
  background-color: white;
  /* border: 0.1px solid black; */
}

.active:hover {
  background-color: black;
}