*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  color: gray;
  user-select: none;
  margin: 3rem 0rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 20.8rem;
  height: 20.8rem;
  margin-top: 0.6rem;
  position: relative;
}

.container::before, 
.container::after {
  position: absolute;
  width: 19px;
  height: 19px;
  content: "";
  z-index: 1;
}

.container::before {
  left: -9.3px;
  top: -9.1px;
  border-left: 9px solid rgb(226 226 226);
  border-top: 9px solid rgb(226 226 226);
}

.container::after {
  right: -9.3px;
  bottom: -9px;
  border-right: 9px solid rgb(226 226 226);
  border-bottom: 9px solid rgb(226 226 226);
}

.container div {
  z-index: 2;
  position: relative; 
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1.1rem;
  color: black;
  width: 5.2rem;
  font-size: 0.9rem;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  font-weight: 700;
  box-shadow: 3px 3px 0px 1px rgb(0 0 0);
  text-align: center;
  transition: transform 0.1s ease, box-shadow 0.1s;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

button:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 0px 1px rgb(0 0 0);
  background-color: #D3B7F9;
  outline-offset: 3px;
}

button:focus, 
#color-picker:focus,
.grid-slider:focus-visible {
  outline: 2px dashed #4a2084;
  outline-offset: -2px;
}

.last-switched-on {
  outline: 2px dashed #4a2084;
  outline-offset: -2px;
}

#color-picker {
  width: 2.7rem;
  height: 2.3rem;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  box-shadow: 3px 3px 0px 1px rgb(0 0 0);
}

.grid-slider-main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  height: 2.4rem;
  width: 100%;
}

.grid-slider-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 2.4rem;
}

.clear-btn {
  align-self: flex-end;
}

.grid-slider {
  margin: 0rem;
}

.grid-slider-para {
  text-align: center;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  user-select: none;
  height: 2rem;
  font-size: 0.9rem;
  font-weight: 600;
}

input[type="range"] {
  accent-color: #D3B7F9;
  width: 100%;
  height: 1rem;
}

.active {
  background-color: white;
}

.active:hover {
  background-color: black;
}


@media (min-width: 600px) {
  h1 {
    font-size: 1.9rem;
    margin: 1.3rem 0rem;
  }
  
  .container {
    width: 24.8rem;
    height: 24.8rem;
  }

  .btn-container {
    margin-top: 2rem;
  }

  button {
    font-size: 0.9rem;
    width: 6.5rem;
  }

  .grid-slider-main-wrapper {
    height: 3rem;
    margin-top: 1.2rem;
  }

  .grid-slider-span {
    font-size: 0.9rem;
  }

  #color-picker {
    height: 2.3rem;
  }
}

@media (min-width: 1600px) {
  h1 {
    font-size: 3.6rem;
  }
  
  .container {
    width: 40.8rem;
    height: 40.8rem;
  }

  .btn-container {
    margin-top: 3.3rem;
  }

  button {
    font-size: 1.3rem;
    width: 11.4rem;
  }

  .grid-slider-main-wrapper {
    height: 3.1rem;
  }

  .grid-slider-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 2.7rem;
  }

  .grid-slider-span {
    font-size: 1.3rem;
  }

  #color-picker {
    width: 3.8rem;
    height: 2.8rem;
  }
}
